# Importing json profiles into a database

In [271]:
import pandas as pd
import json
import numpy as np

In [272]:
def create_profile(x):
    with open('jsons/'+str(x)) as f:
        dict1 = json.load(f)
    list_col= ['experience', 'education', 'languages']
    for n in list_col:
        if n in dict1:
            for i in range(len(dict1[n])): 
                dict1[str(n+str(i+1))]= dict1[n][i]
    data = pd.DataFrame.from_dict(dict1, orient='index').T
    return data

In [273]:
import os
file_list = [f for f in os.listdir('jsons') if f.endswith(".json")]
len(file_list)
# you can replace the list file_list by whatever list of jsons you want to import

49

In [274]:
initial_profile=create_profile('brachetantoine.json')

In [275]:
list_profiles=file_list
profiles = initial_profile
for i in list_profiles:
    a= create_profile(i)
    profiles= pd.concat((profiles,a),axis=0)

In [276]:
profiles.reset_index()

,index,summary,industryName,lastName,student,geoCountryName,geoCountryUrn,geoLocationBackfilled,elt,industryUrn,...,languages1,languages2,languages3,locationName,birthDate,languages4,address,languages5,languages6,languages7
0,0,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'German', 'proficiency': 'ELEMENTARY'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,French Entrepreneur - Founder and Managing Par...,Venture Capital and Private Equity Principals,Demri,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:106,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Inspired by the power we can build to change t...,Civic and Social Organizations,Durieux,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,"{'name': 'Anglais', 'proficiency': 'NATIVE_OR_...",{'name': 'Espagnol'},{'name': 'Italien'},France,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,Brachet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'German', 'proficiency': 'ELEMENTARY'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,"IT Consultant, Technical Expert, Lead develope...",IT Services and IT Consulting,Jaillot,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,{'name': 'Anglais'},NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
5,0,NaN,IT Services and IT Consulting,Vanneroy,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
6,0,People Power,Civic and Social Organizations,DEMBELE,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'LIMITED_W...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,"{'month': 3, 'day': 7}","{'name': 'Hindi', 'proficiency': 'ELEMENTARY'}",NaN,NaN,NaN,NaN
7,0,16+ years of experience driving change in the ...,IT Services and IT Consulting,de Pimodan,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,"{'name': 'Arabic', 'proficiency': 'LIMITED_WOR...",{'name': 'English'},"{'name': 'French', 'proficiency': 'NATIVE_OR_B...",France,NaN,"{'name': 'Spanish', 'proficiency': 'LIMITED_WO...",NaN,NaN,NaN,NaN
8,0,NaN,Non-profit Organizations,Rosado,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:100,...,"{'name': 'Anglais', 'proficiency': 'PROFESSION...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
9,0,"17 ans d'expérience, intelligence collective, ...",IT Services and IT Consulting,Barbier,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,NaN,NaN,NaN,France,"{'month': 7, 'year': 1982, 'day': 27}",NaN,NaN,NaN,NaN,NaN
10,0,After eight years of social entrepreneurship i...,Civic and Social Organizations,Pahud,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:90,...,"{'name': 'Chinese', 'proficiency': 'PROFESSION...","{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...",Germany,"{'month': 2, 'year': 1980, 'day': 29}","{'name': 'German', 'proficiency': 'LIMITED_WOR...",chloe@civocracy.org,"{'name': 'Italian', 'proficiency': 'ELEMENTARY'}","{'name': 'Spanish', 'proficiency': 'ELEMENTARY'}",NaN
11,0,⇒ Rendez-vous sur jerem.io pour télécharger mo...,"Technology, Information and Internet",Paret,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...",NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
12,0,Experienced Chief Executive Officer with a dem...,Online Audio and Video Media,de Roquefeuil,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:113,...,"{'name': 'English', 'proficiency': 'NATIVE_OR_...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'Spanish', 'proficiency': 'NATIVE_OR_...",France,NaN,NaN,NaN,NaN,NaN,NaN
13,0,NaN,Advertising Services,LECOURTOIS,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:80,...,NaN,NaN,NaN,France,"{'month': 2, 'year': 1984, 'day': 8}",NaN,NaN,NaN,NaN,NaN
14,0,Drawing on 7 years of experience as a Team Lea...,IT Services and IT Consulting,AMI,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:96,...,NaN,NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN
15,0,NaN,"Technology, Information and Internet",Schlumberger,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'Allemand', 'proficiency': 'LIMITED_W...","{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,"{'month': 4, 'day': 5}",NaN,NaN,NaN,NaN,NaN
16,0,NaN,"Technology, Information and Internet",Combaz,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:6,...,NaN,NaN,NaN,Germany,NaN,NaN,NaN,NaN,NaN,NaN
17,0,NaN,Financial Services,Snow,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:43,...,NaN,NaN,NaN,Germany,"{'month': 9, 'day': 14}",NaN,NaN,NaN,NaN,NaN
18,0,Expert on democratic innovations and civic tec...,Public Policy Offices,Chaput,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:79,...,"{'name': 'Anglais', 'proficiency': 'PROFESSION...","{'name': 'Chinois', 'proficiency': 'LIMITED_WO...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,"{'month': 8, 'year': 1987, 'day': 3}",NaN,NaN,NaN,NaN,NaN
19,0,OpenGov : #transparence #participation #collab...,Public Policy Offices,Lage,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:79,...,NaN,NaN,NaN,France,"{'month': 10, 'year': 1976, 'day': 23}",NaN,NaN,NaN,NaN,NaN
20,0,"Président et co-fondateur de bluenove, société...",Business Consulting and Services,Escoubes,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:11,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
21,0,Througout my 12 years experience in start-up a...,"Technology, Information and Internet",Pons,False,NaN,NaN,False,False,urn:li:fs_industry:6,...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'Spanish', 'proficiency': 'ELEMENTARY'}",Other,NaN,NaN,NaN,NaN,NaN,NaN
22,0,"IT Consultant, Trainer, Technical Expert, Lead...","Technology, Information and Internet",Lacot,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'German', 'proficiency': 'PROFESSIONA...",France,"{'month': 1, 'day': 2}",NaN,NaN,NaN,NaN,NaN
23,0,"Co-Founder & Co-President of bluenove Group, a...",Business Consulting and Services,Duval,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:11,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
24,0,NaN,Public Policy Offices,Gaboriau,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:79,...,"{'name': 'Allemand', 'proficiency': 'PROFESSIO...","{'name': 'Anglais', 'proficiency': 'NATIVE_OR_...","{'name': 'Catalan', 'proficiency': 'LIMITED_WO...",France,NaN,"{'name': 'Espagnol', 'proficiency': 'PROFESSIO...",NaN,"{'name': 'Français', 'proficiency': 'NATIVE_OR...","{'name': 'Italien', 'proficiency': 'ELEMENTARY'}",NaN
25,0,NaN,"Technology, Information and Internet",Vignolles,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'Allemand', 'proficiency': 'ELEMENTARY'}","{'name': 'Anglais', 'proficiency': 'PROFESSION...","{'name': 'Italien', 'proficiency': 'LIMITED_WO...",France,NaN,NaN,NaN,NaN,NaN,NaN
26,0,Experienced head of development and chief of r...,Online Audio and Video Media,McGrath-Dehecq,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:113,...,"{'name': 'Allemand', 'proficiency': 'LIMITED_W...","{'name': 'Anglais', 'proficiency': 'NATIVE_OR_...","{'name': 'Espagnol', 'proficiency': 'PROFESSIO...",France,NaN,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",NaN,NaN,NaN,NaN
27,0,"As a product manager in a CivicTech startup, I...",IT Services and IT Consulting,Le Botlan,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:96,...,"{'name': 'Allemand', 'proficiency': 'LIMITED_W...","{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",Germany,NaN,NaN,NaN,NaN,NaN,NaN
28,0,NaN,Graphic Design,Patte,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:140,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'ELEMENTARY'}","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,"{'month': 12, 'year': 1971, 'day': 20}","{'name': 'Polonais', 'proficiency': 'ELEMENTARY'}",NaN,NaN,NaN,NaN
29,0,Quelques infos : \n \n- Le nombre de personne...,Professional Training and Coaching,Pelissard,False,NaN,NaN,False,False,urn:li:fs_industry:105,...,{'name': 'English'},NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN
30,0,"Polyvalent, committed, pragmatic and open-mind...",Civic and Social Organizations,Colombe,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,{'name': 'Allemand'},{'name': 'Anglais'},NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
31,0,Experienced serial entrepreneur and engaged Ch...,Civic and Social Organizations,Dauchez,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
32,0,1990-1999 : Procter & Gamble : Finance & Accou...,Public Policy Offices,TEULIÉ,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:79,...,{'name': 'Spanish'},NaN,NaN,France,"{'month': 4, 'day': 19}",NaN,NaN,NaN,NaN,NaN
33,0,NaN,Photography,Cochin,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:136,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Arabe (Egypte)', 'proficiency': 'LIM...","{'name': 'Arabe (Tunisie)', 'proficiency': 'LI...",France,NaN,"{'name': 'Arabe Moderne Standar', 'proficiency...",NaN,"{'name': 'Espagnol', 'proficiency': 'FULL_PROF...","{'name': 'Français', 'proficiency': 'NATIVE_OR...","{'name': 'Italien', 'proficiency': 'ELEMENTARY'}"
34,0,NaN,IT Services and IT Consulting,Buchotte,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,0,NaN,Retail Art Supplies,Deffrennes,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:111,...,"{'name': 'Allemand', 'proficiency': 'ELEMENTARY'}","{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'ELEMENTARY'}",France,NaN,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",NaN,NaN,NaN,NaN
36,0,NaN,"Technology, Information and Internet",Albet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'FULL_PROF...","{'name': 'Portugais', 'proficiency': 'FULL_PRO...",France,NaN,NaN,NaN,NaN,NaN,NaN
37,0,"Journaliste, passée de la rédaction à l'éditio...",Civic and Social Organizations,Vaturi,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,"{'name': 'Anglais', 'proficiency': 'NATIVE_OR_...","{'name': 'Espagnol', 'proficiency': 'LIMITED_W...",NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
38,0,"Curious, motivated and cheerful, I am particul...","Technology, Information and Internet",Bessoles,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'NATIVE_OR...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,NaN,NaN,NaN,NaN,NaN,NaN
39,0,NaN,Marketing Services,Canivet,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:1862,...,NaN,NaN,NaN,France,"{'month': 5, 'day': 23}",NaN,NaN,NaN,NaN,NaN
40,0,"Digital transformation, social innovation, dis...",Civic and Social Organizations,Le Masne,False,Germany,urn:li:fs_geo:101282230,False,False,urn:li:fs_industry:90,...,"{'name': 'Czech', 'proficiency': 'ELEMENTARY'}","{'name': 'English', 'proficiency': 'NATIVE_OR_...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...",Germany,NaN,"{'name': 'German', 'proficiency': 'FULL_PROFES...",NaN,NaN,NaN,NaN
41,0,Product Manager with 8 years of experience. Pa...,"Technology, Information and Internet",Deville,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:6,...,"{'name': 'Anglais (Toefl IBT 103)', 'proficien...","{'name': 'Espagnol', 'proficiency': 'NATIVE_OR...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",France,NaN,"{'name': 'Portugais', 'proficiency': 'LIMITED_...",NaN,NaN,NaN,NaN
42,0,Graduated of Paris I Panthéon Sorbonne univers...,Civic and Social Organizations,des Gachons,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:90,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN
43,0,"I'm co-founder of Fintech Billy, the platform ...",Software Development,Arrouard,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:4,...,"{'name': 'Allemand', 'proficiency': 'LIMITED_W...","{'name': 'Anglais', 'proficiency': 'PROFESSION...",NaN,France,"{'month': 7, 'year': 1986, 'day': 2}",NaN,NaN,NaN,NaN,NaN
44,0,Consulting citizens has never been easier!,IT Services and IT Consulting,de Briey,False,Belgium,urn:li:fs_geo:100565514,False,False,urn:li:fs_industry:96,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'PROFESSIO...","{'name': 'Français', 'proficiency': 'NATIVE_OR...",Belgium,NaN,"{'name': 'Néerlandais', 'proficiency': 'NATIVE...",NaN,NaN,NaN,NaN
45,0,I'm a software engineer specialized in web tec...,IT Services and IT Consulting,Meiss,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:96,...,"{'name': 'English', 'proficiency': 'PROFESSION...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'Spanish', 'proficiency': 'LIMITED_WO...",France,NaN,NaN,NaN,NaN,NaN,NaN
46,0,"Journaliste, biberonnée à la créativité chez K...",Online Audio and Video Media,Richard,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:113,...,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...","{'name': 'Espagnol', 'proficiency': 'FULL_PROF...","{'name': 'Mandarin', 'proficiency': 'ELEMENTARY'}",France,NaN,NaN,NaN,NaN,NaN,NaN
47,0,NaN,Public Policy Offices,Dernoncourt,False,France,urn:li:fs_geo:105015875,False,False,urn:li:fs_industry:79,...,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
profiles_explo= profiles.copy()

# Initial cleaning

### dropping useless columns and duplicates

In [278]:
pd.options.display.max_rows = 100
profiles_explo.describe().T

# total 48 rows

# ['profile_id'] = str : linkedin id - num and letters, 47 unique 
# ['lastName'] - full 
# ['firstName'] - full 
# ['geoCountryName'] = country name, 3 values, 46 filled
# ['geoLocationName'] = region name, 11 unique - check and recode 
# ['birthDate'] = 35 missing  

# ['summary'] = text, includes \n, 32 unique
# ['industryName'] = short text, full, 16 unique
# ['headline'] = professional headline, 47 unique 

# ['experience'] = liste de dictionnaires. chaque élément est accessible par [0], [1] - full 
# ['education'][0] = liste de dictionnaires - full 
# ['languages'] = list de dictionnaires - name, proficiency - 32 
# ['publications'] =  16 
# ['certifications'] = 11
# ['volunteer'] = 17 
# ['honors'] =  12
# ['projects'] =  22

# to drop : 
# displayPictureUrl', 'img_100_100', 'img_200_200', 'img_400_400', 'img_800_800',
# ['student'] = boolean T/F - only false 
# ['geoCountryUrn'] === CODED - internal LIn code 
# ['geoLocationBackfilled'] === boolean T/F - only false 
# ['elt'] === boolean T/F - only false 
# ['industryUrn'] === CODED (format urn:li:fs_industry:96) // to industryName 
# ['displayPictureUrl'] = url to picture (not accessible without linkedin )
# ['img_100_100', 'img_200_200', 'img_400_400', 'img_800_800'] = ref of image not accessible 
# ['profile_urn'] = str : format urn:li:fs_miniProfile:ACoAAAA615EBaNquQR5gOz_oFr9emeCr0ZNw67M 
# ['member_urn'] = str : format urn:li:member:3856273
# ['public_id'] = str : lastnamefirstname lower ()
# ['entityUrn'] === CODED (format urn:li:fs_profile:ACoAAAA615EBaNquQR5gOz_oFr9emeCr0ZNw67M)
# ['geoLocation']) === CODED, 12 unique 
# ['location'] === dictionary with one nested dictionary, country code - 4 unique 
# ['locationName'] = country name, 4 values (incl. other), 46 filled
# ['address'] = only 1 value (email)

,count,unique,top,freq
summary,33,32,Antoine croit à l’intelligence de tous et à la...,2
industryName,48,16,IT Services and IT Consulting,11
lastName,48,47,Brachet,2
student,48,1,False,48
geoCountryName,46,3,France,39
geoCountryUrn,46,3,urn:li:fs_geo:105015875,39
geoLocationBackfilled,48,1,False,48
elt,48,1,False,48
industryUrn,48,16,urn:li:fs_industry:96,11
firstName,48,41,Antoine,3
entityUrn,48,47,urn:li:fs_profile:ACoAAAA615EBaNquQR5gOz_oFr9e...,2
geoLocation,46,12,{'geoUrn': 'urn:li:fs_geo:90009659'},15
geoLocationName,44,11,Greater Paris Metropolitan Region,15
location,48,4,{'basicLocation': {'countryCode': 'fr'}},39
headline,48,47,"Directeur associé de bluenove, initiateur du m...",2
displayPictureUrl,47,46,https://media.licdn.com/dms/image/C4D03AQHqKKC...,2
img_100_100,47,46,100_100/0/1533636584521?e=1691020800&v=beta&t=...,2
img_200_200,47,46,200_200/0/1533636584521?e=1691020800&v=beta&t=...,2
img_400_400,47,46,400_400/0/1533636584521?e=1691020800&v=beta&t=...,2
img_800_800,47,46,800_800/0/1533636584521?e=1691020800&v=beta&t=...,2
profile_id,48,47,ACoAAAA615EBaNquQR5gOz_oFr9emeCr0ZNw67M,2
profile_urn,48,47,urn:li:fs_miniProfile:ACoAAAA615EBaNquQR5gOz_o...,2
member_urn,48,47,urn:li:member:3856273,2
public_id,48,47,brachetantoine,2
experience,48,47,"[{'locationName': 'Paris Area, France', 'entit...",2
education,48,47,[{'entityUrn': 'urn:li:fs_education:(ACoAAAA61...,2
languages,48,32,[],15
publications,48,16,[],32
certifications,48,11,[],38
volunteer,48,17,[],32
honors,48,12,[],37
projects,48,22,[],27
experience1,48,47,"{'locationName': 'Paris Area, France', 'entity...",2
experience2,48,47,{'entityUrn': 'urn:li:fs_position:(ACoAAAA615E...,2
experience3,48,47,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",2
experience4,46,45,"{'locationName': 'Paris Area, France', 'entity...",2
experience5,45,44,"{'locationName': 'Paris', 'entityUrn': 'urn:li...",2
education1,47,46,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,2
education2,42,41,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,2
education3,36,35,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,2
languages1,33,17,"{'name': 'Anglais', 'proficiency': 'FULL_PROFE...",7
languages2,30,17,"{'name': 'French', 'proficiency': 'NATIVE_OR_B...",7
languages3,25,15,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",8
locationName,45,4,France,36
birthDate,13,13,"{'month': 3, 'day': 7}",1
languages4,11,10,"{'name': 'Français', 'proficiency': 'NATIVE_OR...",2
address,1,1,chloe@civocracy.org,1
languages5,3,3,"{'name': 'Italian', 'proficiency': 'ELEMENTARY'}",1
languages6,3,3,"{'name': 'Spanish', 'proficiency': 'ELEMENTARY'}",1
languages7,1,1,"{'name': 'Italien', 'proficiency': 'ELEMENTARY'}",1

In [279]:
profiles_explo.columns

Index(['summary', 'industryName', 'lastName', 'student', 'geoCountryName',
       'geoCountryUrn', 'geoLocationBackfilled', 'elt', 'industryUrn',
       'firstName', 'entityUrn', 'geoLocation', 'geoLocationName', 'location',
       'headline', 'displayPictureUrl', 'img_100_100', 'img_200_200',
       'img_400_400', 'img_800_800', 'profile_id', 'profile_urn', 'member_urn',
       'public_id', 'experience', 'education', 'languages', 'publications',
       'certifications', 'volunteer', 'honors', 'projects', 'experience1',
       'experience2', 'experience3', 'experience4', 'experience5',
       'education1', 'education2', 'education3', 'languages1', 'languages2',
       'languages3', 'locationName', 'birthDate', 'languages4', 'address',
       'languages5', 'languages6', 'languages7'],
      dtype='object')

In [280]:
profiles_explo_2= profiles_explo[['profile_id', 'lastName', 'firstName', 'geoCountryName', 'geoLocationName', 'birthDate', 
                                  'summary', 'industryName', 'headline', 'experience', 'education', 
                                  'languages', 'publications', 'certifications', 'volunteer', 'honors', 'projects', 
                                  'experience1','experience2', 'experience3', 'experience4', 'experience5',
                                  'education1', 'education2', 'education3', 'languages1', 'languages2',
                                  'languages3','languages4', 'languages5', 'languages6', 'languages7']]

In [281]:
mask = profiles_explo_2.duplicated(subset=['profile_id'], keep='first')
dropped = profiles_explo_2.loc[mask]
dropped

,profile_id,lastName,firstName,geoCountryName,geoLocationName,birthDate,summary,industryName,headline,experience,...,education1,education2,education3,languages1,languages2,languages3,languages4,languages5,languages6,languages7
0,ACoAAAA615EBaNquQR5gOz_oFr9emeCr0ZNw67M,Brachet,Antoine,France,Greater Paris Metropolitan Region,NaN,Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,"Directeur associé de bluenove, initiateur du m...","[{'locationName': 'Paris Area, France', 'entit...",...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,"{'name': 'English', 'proficiency': 'FULL_PROFE...","{'name': 'French', 'proficiency': 'NATIVE_OR_B...","{'name': 'German', 'proficiency': 'ELEMENTARY'}",NaN,NaN,NaN,NaN

In [282]:
profiles_explo_2.drop_duplicates(subset=['profile_id'], keep='first', inplace=True)

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3791079629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2.drop_duplicates(subset=['profile_id'], keep='first', inplace=True)

### Recoding the honors, publications, volunteer, projects, certifications and languages columns

In [283]:
profiles_explo_2.isna().sum().sort_values(ascending=False)
# we have 47 rows 
# we will drop the columns with more than 37 missing values
# for columns projects, publications, languages, certifications, and honors 
# we will create one column that states whether this section was filled
# and keep the detail in just the original column, as text.

languages7         46
languages6         44
languages5         44
languages4         36
birthDate          34
languages3         23
languages2         18
summary            15
languages1         15
education3         12
education2          6
geoLocationName     4
experience5         3
geoCountryName      2
experience4         2
education1          1
experience2         0
experience3         0
profile_id          0
experience1         0
lastName            0
honors              0
volunteer           0
certifications      0
publications        0
languages           0
education           0
experience          0
headline            0
industryName        0
firstName           0
projects            0
dtype: int64

In [284]:
#HONORS
profiles_explo_2['honors'] = (profiles_explo_2['honors']).astype(str)
profiles_explo_2['honors_stated']=np.where(profiles_explo_2['honors']=='[]', '0', '1')
profiles_explo_2['honors_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/1776863395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['honors'] = (profiles_explo_2['honors']).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/1776863395.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['honors_stated']=np.where(profiles_explo_2['honors']=='[]', '0', '1')

0    36
1    11
Name: honors_stated, dtype: int64

In [285]:
#PUBLICATIONS
profiles_explo_2['publications'] = (profiles_explo_2['publications'] ).astype(str)
profiles_explo_2['pubs_stated']=np.where(profiles_explo_2['publications']=='[]', '0', '1')
profiles_explo_2['pubs_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/4098475400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['publications'] = (profiles_explo_2['publications'] ).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/4098475400.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['pubs_stated']=np.where(profiles_explo_2['publications']=='[]', '0', '1')

0    32
1    15
Name: pubs_stated, dtype: int64

In [286]:
#VOLUNTEER
profiles_explo_2['volunteer'] = (profiles_explo_2['volunteer'] ).astype(str)
profiles_explo_2['volunteer_stated']=np.where(profiles_explo_2['volunteer']=='[]', '0', '1')
profiles_explo_2['volunteer_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/4089623348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['volunteer'] = (profiles_explo_2['volunteer'] ).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/4089623348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['volunteer_stated']=np.where(profiles_explo_2['volunteer']=='[]', '0', '1')

0    31
1    16
Name: volunteer_stated, dtype: int64

In [287]:
#PROJECTS
profiles_explo_2['projects'] = (profiles_explo_2['projects'] ).astype(str)
profiles_explo_2['projects_stated']=np.where(profiles_explo_2['projects']=='[]', '0', '1')
profiles_explo_2['projects_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/1493996562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['projects'] = (profiles_explo_2['projects'] ).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/1493996562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['projects_stated']=np.where(profiles_explo_2['projects']=='[]', '0', '1')

0    26
1    21
Name: projects_stated, dtype: int64

In [288]:
# CERTIFICATIONS
profiles_explo_2['certifications'] = (profiles_explo_2['certifications'] ).astype(str)
profiles_explo_2['certifications_stated']=np.where(profiles_explo_2['certifications']=='[]', '0', '1')
profiles_explo_2['certifications_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3917862411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['certifications'] = (profiles_explo_2['certifications'] ).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3917862411.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['certifications_stated']=np.where(profiles_explo_2['certifications']=='[]', '0', '1')

0    37
1    10
Name: certifications_stated, dtype: int64

In [289]:
# LANGUAGE_COUNT
profiles_explo_2['languages'] = (profiles_explo_2['languages']).astype(str)
profiles_explo_2['languages3'] = (profiles_explo_2['languages3']).astype(str)
profiles_explo_2['languages_over2']=np.where(profiles_explo_2['languages3']=='nan', '0', '1')
profiles_explo_2['languages_over2'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3974138507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['languages'] = (profiles_explo_2['languages']).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3974138507.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['languages3'] = (profiles_explo_2['languages3']).astype(str)
/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3974138507.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['languages_over2']=np.where(profiles_explo_2['languages3']=='nan', '0', '1')

1    24
0    23
Name: languages_over2, dtype: int64

In [290]:
# LANGUAGES
profiles_explo_2['languages_stated']=np.where(profiles_explo_2['languages']=='[]', '0', '1')
profiles_explo_2['languages_stated'].value_counts()

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/2128251405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2['languages_stated']=np.where(profiles_explo_2['languages']=='[]', '0', '1')

1    32
0    15
Name: languages_stated, dtype: int64

In [291]:
# DROPPING THE COLUMNS WE HAVE RECODED 
profiles_explo_2.drop(columns=['languages1', 'languages2',
       'languages3', 'languages4', 'languages5', 'languages6', 'languages7'], inplace=True)

/var/folders/5g/jskfzb8j377fh7wl3_rxvkrc0000gn/T/ipykernel_12597/3414638624.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  profiles_explo_2.drop(columns=['languages1', 'languages2',

Notes for later : 
* there is surely a better way to deal with the languages, publications, honors, volunteers, project and certifications information. However, we have so many missing values that a yes/no column for each of these categories (filled or not) already provides some information. 
* the languages category could be split in different ways. We chose to highlight the profiles who state 3 or more languages spoken. For this category, the name of languages could be treated as text.

**Important** 
We should change the import code to not split the languages, publications, honors, volunteers, projects and certification columns, but instead just add a column based on the existing ones.

### Dealing with the experience and education columns

In [329]:
profiles_explo_2.describe()

,profile_id,lastName,firstName,geoCountryName,geoLocationName,birthDate,summary,industryName,headline,experience,...,education1,education2,education3,honors_stated,pubs_stated,volunteer_stated,projects_stated,certifications_stated,languages_over2,languages_stated
count,47,47,47,45,43,13,32,47,47,47,...,46,41,35,47,47,47,47,47,47,47
unique,47,47,41,3,11,13,32,16,47,47,...,46,41,35,2,2,2,2,2,2,2
top,ACoAAAA615EBaNquQR5gOz_oFr9emeCr0ZNw67M,Brachet,Nicolas,France,"Paris, Île-de-France","{'month': 3, 'day': 7}",Antoine croit à l’intelligence de tous et à la...,IT Services and IT Consulting,"Directeur associé de bluenove, initiateur du m...","[{'locationName': 'Paris Area, France', 'entit...",...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,{'entityUrn': 'urn:li:fs_education:(ACoAAAA615...,0,0,0,0,0,1,1
freq,1,1,3,38,15,1,1,10,1,1,...,1,1,1,36,32,31,26,37,24,32

In [330]:
profiles_experience=pd.concat([profiles_explo_2, 
pd.DataFrame(profiles_explo_2['experience1'].apply(pd.Series)).add_prefix('exp1_'), 
pd.DataFrame(profiles_explo_2['experience2'].apply(pd.Series)).add_prefix('exp2_'), 
pd.DataFrame(profiles_explo_2['experience3'].apply(pd.Series)).add_prefix('exp3_'), 
pd.DataFrame(profiles_explo_2['experience4'].apply(pd.Series)).add_prefix('exp4_'), 
pd.DataFrame(profiles_explo_2['experience5'].apply(pd.Series)).add_prefix('exp5_')], 
axis=1).reset_index(drop=True)

In [331]:
list_columns=[i for i in profiles_experience.columns if ("Urn" in i or "Logo" in i or "_region" in i or '_abuse' in i or '_geo' in i or '_proj' in i or '_organi' in i or '_0' in i)]
list_columns

['exp1_entityUrn',
 'exp1_geoLocationName',
 'exp1_companyUrn',
 'exp1_companyLogoUrl',
 'exp1_$anti_abuse_metadata',
 'exp1_geoUrn',
 'exp1_region',
 'exp1_organizations',
 'exp2_entityUrn',
 'exp2_companyUrn',
 'exp2_companyLogoUrl',
 'exp2_geoLocationName',
 'exp2_geoUrn',
 'exp2_region',
 'exp2_$anti_abuse_metadata',
 'exp2_organizations',
 'exp2_projects',
 'exp3_entityUrn',
 'exp3_geoLocationName',
 'exp3_companyUrn',
 'exp3_companyLogoUrl',
 'exp3_geoUrn',
 'exp3_region',
 'exp3_$anti_abuse_metadata',
 'exp3_projects',
 'exp4_entityUrn',
 'exp4_geoLocationName',
 'exp4_geoUrn',
 'exp4_region',
 'exp4_companyUrn',
 'exp4_companyLogoUrl',
 'exp4_0',
 'exp4_projects',
 'exp4_$anti_abuse_metadata',
 'exp5_entityUrn',
 'exp5_geoLocationName',
 'exp5_companyUrn',
 'exp5_companyLogoUrl',
 'exp5_geoUrn',
 'exp5_region',
 'exp5_0',
 'exp5_projects',
 'exp5_$anti_abuse_metadata',
 'exp5_organizations']

In [323]:
list(profiles_experience.columns)

['profile_id',
 'lastName',
 'firstName',
 'geoCountryName',
 'geoLocationName',
 'birthDate',
 'summary',
 'industryName',
 'headline',
 'experience',
 'education',
 'languages',
 'publications',
 'certifications',
 'volunteer',
 'honors',
 'projects',
 'experience1',
 'experience2',
 'experience3',
 'experience4',
 'experience5',
 'education1',
 'education2',
 'education3',
 'honors_stated',
 'pubs_stated',
 'volunteer_stated',
 'projects_stated',
 'certifications_stated',
 'languages_over2',
 'languages_stated',
 'exp1_locationName',
 'exp1_entityUrn',
 'exp1_geoLocationName',
 'exp1_companyName',
 'exp1_timePeriod',
 'exp1_description',
 'exp1_company',
 'exp1_title',
 'exp1_companyUrn',
 'exp1_companyLogoUrl',
 'exp1_$anti_abuse_metadata',
 'exp1_geoUrn',
 'exp1_region',
 'exp1_honors',
 'exp1_organizations',
 'exp2_entityUrn',
 'exp2_companyName',
 'exp2_timePeriod',
 'exp2_company',
 'exp2_title',
 'exp2_companyUrn',
 'exp2_companyLogoUrl',
 'exp2_locationName',
 'exp2_geoLocationName',
 'exp2_geoUrn',
 'exp2_description',
 'exp2_region',
 'exp2_$anti_abuse_metadata',
 'exp2_organizations',
 'exp2_projects',
 'exp2_honors',
 'exp3_locationName',
 'exp3_entityUrn',
 'exp3_geoLocationName',
 'exp3_companyName',
 'exp3_timePeriod',
 'exp3_company',
 'exp3_title',
 'exp3_companyUrn',
 'exp3_companyLogoUrl',
 'exp3_geoUrn',
 'exp3_description',
 'exp3_region',
 'exp3_$anti_abuse_metadata',
 'exp3_projects',
 'exp4_locationName',
 'exp4_entityUrn',
 'exp4_geoLocationName',
 'exp4_geoUrn',
 'exp4_companyName',
 'exp4_timePeriod',
 'exp4_description',
 'exp4_company',
 'exp4_title',
 'exp4_region',
 'exp4_companyUrn',
 'exp4_companyLogoUrl',
 'exp4_0',
 'exp4_projects',
 'exp4_$anti_abuse_metadata',
 'exp5_locationName',
 'exp5_entityUrn',
 'exp5_geoLocationName',
 'exp5_companyName',
 'exp5_timePeriod',
 'exp5_description',
 'exp5_company',
 'exp5_title',
 'exp5_companyUrn',
 'exp5_companyLogoUrl',
 'exp5_geoUrn',
 'exp5_honors',
 'exp5_region',
 'exp5_0',
 'exp5_projects',
 'exp5_$anti_abuse_metadata',
 'exp5_organizations']

In [333]:
profiles_experience.drop(columns=list_columns, axis=1, inplace=True)

In [335]:
profiles_experience= pd.concat([profiles_experience, 
pd.DataFrame(profiles_experience['education1'].apply(pd.Series)).add_prefix('ed1_'), 
pd.DataFrame(profiles_experience['education2'].apply(pd.Series)).add_prefix('ed2_'), 
pd.DataFrame(profiles_experience['education3'].apply(pd.Series)).add_prefix('ed3_')], 
axis=1).reset_index(drop=True)

In [337]:
list_columns2=[i for i in profiles_experience.columns if ("Urn" in i or "Logo" in i or "_region" in i or '_abuse' in i or '_geo' in i or '_proj' in i or '_organi' in i or '_0' in i)]
list_columns2

['ed1_entityUrn',
 'ed1_schoolUrn',
 'ed1_fieldOfStudyUrn',
 'ed1_degreeUrn',
 'ed1_0',
 'ed1_projects',
 'ed2_entityUrn',
 'ed2_schoolUrn',
 'ed2_0',
 'ed2_fieldOfStudyUrn',
 'ed2_projects',
 'ed3_entityUrn',
 'ed3_schoolUrn',
 'ed3_fieldOfStudyUrn',
 'ed3_0',
 'ed3_degreeUrn']

In [339]:
profiles_experience.drop(columns=list_columns2, axis=1, inplace=True)

In [340]:
profiles_experience.to_csv("profile_data_reprocessed.csv", sep=';')